<!DOCTYPE html>
{% load static %}
{% load django_tables2 %}

<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Readiness Dashboard</title>
        <script src="{% static 'main/jquery/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.theme.min.css' %}">
        <link href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" rel="stylesheet">
        <script src="{% static 'main/jquery-ui/jquery-ui.min.js' %}"></script>
</head>

<body>
<h2><a href="/main">/</a> {{breadcrumb}}</h2>
<br>

{% render_table table %}

</body>

</html>

