<!DOCTYPE html>
{% load static %}

<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Component Readiness Report</title>
        <script src="{% static 'main/jquery/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.theme.min.css' %}">
        <script src="{% static 'main/jquery-ui/jquery-ui.min.js' %}"></script>
</head>

<body>
Sample Release {{sample_release}} vs Basis Release {{basis_release}}
<br>
Test Name: {{sample_test.test_name}}
<br>
Sample Successes: {{sample_test.success_count}} <br>
Sample Failures: {{sample_test.failure_count}} <br>
<br> <br>
Basis Successes: {{basis_test.success_count}} <br>
Basis Failures: {{basis_test.failure_count}} <br>

<br> <br>
Fisher's Exact: {{fishers_exact}}

</body>

</html>

