<!DOCTYPE html>
{% load static %}

<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Component Readiness Report</title>
        <script src="{% static 'main/jquery/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.theme.min.css' %}">
        <script src="{% static 'main/jquery-ui/jquery-ui.min.js' %}"></script>
</head>

<body>
<h2>{{breadcrumb}}</h2>
<br>
Test Name: {{sample_test.test_name}}
<br>
<br>
Sample Release {{sample_release}}<br>
<ul>
        <li>Successes: {{sample_test.success_count}}</li>
        <li>Failures: {{sample_test.failure_count}}</li>
</ul>
<br>
<br> <br>
Basis Release {{basis_release}} <br>
<ul>
        <li>Successes: {{basis_test.success_count}}</li>
        <li>Failures: {{basis_test.failure_count}}</li>
</ul>

<br> <br>
Fisher's Exact: {{fishers_exact}}

</body>

</html>

