<!DOCTYPE html>
{% load static %}

<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Readiness Dashboard</title>
        <script src="{% static 'main/jquery/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/jquery-ui/jquery-ui.theme.min.css' %}">
        <script src="{% static 'main/jquery-ui/jquery-ui.min.js' %}"></script>
</head>

<body>
Sample Release {{sample_release}} vs Basis Release {{basis_release}}



<ul>
{% for component_name, regressed in summary.items %}
    <li><a href="/main/report?sample_release={{sample_release}}&basis_release={{basis_release}}&sample_start_dt={{sample_start_dt}}&sample_end_dt={{sample_end_dt}}&basis_start_dt={{basis_start_dt}}&basis_end_dt={{basis_end_dt}}&component={{component_name}}">{{component_name}}</a>
            {% if regressed  %}
                <span class="ui-icon ui-icon-alert"></span>
            {% else %}
                <span class="ui-icon ui-icon-check"></span>
            {% endif %}
        </li>
{% endfor %}
</ul>

</body>

</html>

